.homePage{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}
.homeSearch{
    width: 90%;
    height: 32px;
    background-color: #EEF1F4;
    border-radius: 16px;
    margin: 10px auto;
    color: #A6A8B6;
    font-size: 14px;
    line-height: 32px;
    text-indent: 16px;
    background-image: url("../assets/search@2x.png");
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: 95% center;
}
.homeBanner{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
}